<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Elec", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if user_signed_in? %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= 'active' if current_page?(user_panel_index_path) %>">
          <%= link_to "My Dashboard", user_panel_index_path, class: "nav-link" %>
        </li>
        <% if current_user.roles.select { |role| role.name == 'admin' }.present? %>
          <li class="nav-item <%= 'active' if current_page?(show_users_panel_path) %>">
            <%= link_to "Users", show_users_panel_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if current_page?(show_devices_panel_path) %>">
            <%= link_to "Devices", show_devices_panel_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <ul class="navbar-nav justify-content-end">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.email %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="#">Settings</a>
            <div class="dropdown-divider"></div>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
      <% else %>
        <li class="nav-item ml-2 mr-2">
          <%= link_to "Log In", new_user_session_path, class: 'btn btn-success nav-link text-white' %>
        </li>
        <li class="nav-item ml-2 mr-2">
          <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary nav-link text-white' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>